<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>个人登记导出</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body>
<body>
<div style="margin-left: 20px;margin-top: 40px;font-size: 16px;margin-right: 20px;">
    <fieldset class="layui-elem-field layui-field-title">
        <legend style="font-size: 16px">个人登记导出</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">记录时间：</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" id="accessTimeDate" style="width: 300px;" autocomplete="off" placeholder="请选择记录时间" readonly>
        </div>
        <button class="layui-btn layui-btn-radius" style="vertical-align: bottom;float: right" id="excel">确定</button>
    </div>
</div>
</body>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/selfRecordJs.js}"></script>
</html>